@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url(mk.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 10px 5px 25px 15px;
}

h1 {
    font-weight: normal;
    font-size: 5rem;
    margin-top: 5rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-time {
    text-align: center;
}

.countdown-time span {
    font-size: 1.5rem;
}